      <div id="" class="ui-layout-west">
      	<%= render :template=> "creator/controls"%>
        <%= render :template=> "creator/toc"%>
      </div>
      <div class="ui-layout-center scroll_vert" style="background-image: url(http://dyy0c05qf50mj.cloudfront.net/assets/pattern-c4dfee45de81defeeddeb28705400809.jpg); background-attachment: fixed">
        <%= render :template=> "creator/editor_layout"%>
        <%= render :template=> "creator/test_layout"%>
        <%= render :template=> "creator/html_code_layout"%>
        <%= render :template=> "creator/javascript_code_layout"%>
        <%= render :template=> "creator/css_code_layout"%>
      </div>
      <div id="" class="ui-layout-east" style="padding:0px">
        <%= render :template => 'creator/widget_editor'%>
      </div>

